
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

:root {
  --purple: #52357b;
  --dark-blue: #5459ac;
  --light-blue: #648db3;
  --light-green: #b2d8ce;
  --white: #fff;
  --black: #000;
}

body {
  background-color: var(--light-blue);
  color: var(--white);
}

#app {
  display: grid;
  place-items: center;
  place-content: center;
  min-height: 100vh;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

.heading01 {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 1.4px;
}

.heading02 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.4px;
}

.mb-20 {
  margin-bottom: 20px;
}

#weatherInfoCard {
  margin-top: 50px;
  width: 100%;
  background: var(--purple);
  padding: 40px 20px;
  border-radius: 20px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mb-50 {
  margin-bottom: 50px;
}

form {
  width: 100%;
  display: block;
}
input {
  width: 100%;
  display: block;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: none;
}

input[type="submit"] {
  margin-top: 25px;
  cursor: pointer;
  color: var(--dark-blue);
  background-color: var(--light-green);
}

input[type="submit"]:hover {
  background-color: var(--dark-blue);
  color: var(--light-green);
}

.description {
  text-transform: capitalize;
}

.weather-img > img {
  background: #fff;
  border-radius: 100%;
}

p {
  font-size: 14px;
  font-weight: 500;
}
